body {
  background-color: #f2f2f2;
  text-align: center;
  font-family: sans-serif;
}

h1 {
  margin: 20px;
}

h2 {
  margin: 30px 0px 10px;
  font-size: 18px;
}

h3 {
  margin: 20px 0px 5px;
}

img {
  box-shadow: 3px 4px 10px #b79697;
  /* rounds out the edges */
  border-radius: 10px;
}

.red-box {
  border-color: red;
  border-width: 2px;
}

div#on_this_day_div > p {
  margin: 2px;
}

div#holiday_return_date_div > p {
  margin: 2px 0px 20px;
}

#calculate_days_until_div {
  margin: 25px;
}

h4 {
  margin: 5px;
}

#wikipedia_fact {
  padding: 0px 20%;
}

.small-grey {
  font-size: small;
  font-style: italic;
  color: #a09999;
}